# Binaries
/build/
/orange
*.exe
*.exe~*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work
go.work.sum

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
